/* root element to define colors as variables */
:root {
  --background-color: indigo;
  --complementary-color: #40E0D0;
}


/* Centering the body */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

#convert-btn {
  display: block;
  margin: auto;
  margin-top: 2vh;
  width: 10vw;
  height: 20px;
  max-width: 80px;
  min-width: 60px;
}

h1 {
  margin-top: 20vh;
  color: var(--complementary-color);
  font-size: 40px;
}

#number {
  margin-top: 6vh;
  width: 30vw;
  border: 1px solid black;
  max-width: 300px;
  min-width: 150px;
}

#convert-btn:hover {
  cursor: pointer;
}

#output {
  color: var(--complementary-color);
}
